.cart{
    margin-left: 10%;
}
#image{
    width: 60%;
    height: 60%;
}
/* .content{
    margin-left: 500px;
} */
.cards{
    margin: 2px;
    /* border-left: 3px solid black; */
}
.empty-cart{
    width: 100%;
    height: 600px;
    color: rgb(106, 106, 106);
    padding-top: 20%;

}