.address-card{
    width: 80%;
    height: 80%;
    background-color: #6d63ff;
    border-radius: 7px;
    margin-top: 10%;
    margin-left: 10%;
    color: white;

}
#address-image{
    width: 100%;
    height: 100%;
    margin-top: 20px;
}