.viewproduct{
    margin-top: 10%;
}
#btnbuy{
    margin-top: 10%;
    margin-left: 5%;
    background-color: rgb(28, 152, 0);
    color: white;
    border-radius: 6px;
    padding: 2%;
    width: 30%;
}
#btncart{
    margin-left: 10%;
    background-color: rgb(255, 157, 19);
    color: white;
    border-radius: 6px;
    padding: 2%;
    width: 30%;
}
#btnbuy:hover{
    cursor: pointer;
    background-color: rgb(15, 125, 0);

}
#btncart:hover{
    cursor: pointer;
    background-color: rgb(255, 140, 0);

}
.details{
    margin-top: 10%;
    color: rgb(129, 127, 127);
}
.viewproduct h3{
    color: rgb(131, 128, 128);
}