input{
    margin: 10%;
    width: 80%;
    padding: 1.5%;
    
  }
#btnn{
    color: white;
    width: 80%;
    margin-left: 10%;
    background-color: #4f43fd;
    margin-bottom: 20%;
}
#btnnn{
  color: white;
  width: 80%;
  margin-left: 10%;
  background-color: #6d63ff;
  margin-bottom: 20%;
}


.productform{
    background-color: rgb(188, 197, 197);
    width: 100%;
    height: 90%;
    box-shadow: -5px -5px 25px rgb(128, 120, 120), 5px 5px 25px black;
    margin-top: 10%;
  
}
.productform h4{
  color: white;
  font-weight: 700;
  padding-top: 25px;
}
 